/* Eléments principaux de la page */

body {
    font-family: 'Raleway', sans-serif;;
}

a {
    text-decoration: none;
    color: initial;
}
  
.size {
    width: 98%;
    max-width: 1440px;
    margin: auto;
}
  
  /* Navigation */
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
#logo img {
    width: 120px;
    height: 50px;
}
  
.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    list-style-type: none;
    padding: 30px;
    font-weight: 550;
}
  
.nav-itemA {
    color: black;
    font-weight: 500;
    text-decoration: none;
    width: 120px;
    padding-top: 43px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 50px;
}
  
.nav-itemA:hover {
    color: #0065fc;
    border-top: 2px solid #0065fc;
    padding-left: 25px;
    padding-right: 25px;
}
    
.nav-itemB {
    color: black;
    text-decoration: none;
    font-weight: 500; 
    padding-top: 43px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 50px;
    width: 100%;    
}
  
.nav-itemB:hover {
    color: #0065fc;
    border-top: 2px solid #0065fc;
}
  
.nav-itemC {
    color: #0065fc;
    font-weight: bold;
    text-decoration: none;
    padding-right: 100px;
    padding-left: 25px;
}
  
  /* Section 1 - Research */

  .titlesearch {
      margin-bottom: -10px;
  }
  
.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
}
  
.iconmap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    width: 55px;
    height: 50px;
    border-radius: 16px 0px 0px 16px;
    font-size: 17px;
}
  
.researchplace {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 233px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding-left: 15px;
}
  
.researchbutton {
    border: none;
    height: 50px;
    width: 134px;
    border-radius: 0 14px 14px 0;
    background-color: #0065fc;
    color: white;
    font-weight: 500;
    font-size: 19px;
    padding: 10px;
    cursor: pointer
}
  
.researchbutton:hover {
    background-color: royalblue;
}
  
  /* Filters */
  
.filters {
    display: flex;
    align-items: center;
    margin-top: 15px; 
}
  
.filtersection {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
  
.filter {
    font-size: large;
    font-weight: bold;
    margin-right: 25px;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    cursor: pointer;
    padding-right: 20px;
}
.iconfilter {
    background-color: #DEEBFF;
    color: #0065fc;
    padding: 15px;
    border-radius: 25px;
     font-size: 17px;
     margin-right: 15px;
}
  
.filter:hover {
    background-color: #DEEBFF ;
}
  
  /* Info */
  
.info {
    margin-top: 6px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
  
.info-icon{
    color: #0065fc;
    border:1px solid #d9d9d9 ;
    border-radius: 25px;
    padding: 6px 9px 6px 9px;
    font-size: 11px;
    margin-right: 10px;
}
  
  /* Accomodations */

.results {
    display: flex;
}

.accomodations{
    flex: 2.5;
    height: 550px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titlehbgt {
    margin-top: 5px;
}

.imghbgmt {
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.lign1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.lign2 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.windows {
    width: 30%;
    height: auto;
    background-color: white;
    padding: 0.7%;
    border-radius: 20px;
    box-sizing: border-box;
}

.windows:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.namehostel {
    padding-left: 10px;
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
}

.night {
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.price {
    font-weight: bold;
}

.stars {
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: small;
}

.more {
    padding-top: 25px;
}

.showmore {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding-top: 25px;
}

.starblue {
    color: #0065fc;
}

.stargrey{
    color: #D9D9D9;
}

  /* Popular */
  
.popular {
    flex: 1;
    height: 550px;
    min-height: auto;
    margin-left: 20px;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 40px;
}
  
.headpop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}

.titlepop {
    margin-top: 5px;
}

.chart {
    font-size: x-large;
    padding-bottom: 15px;
}
  
.selection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  
.pop {
    height: auto;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.pop:hover {
    cursor: pointer;
    transform: scale(1.1);
}
  
.imgpop {
    width: 35%;
    height: 135px;
    border-radius: 20px 0 0 20px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1%;
    object-fit: cover;
}
      
.descriptionpop {
    width: 60%;
    padding: 5px;
    height: 135px;
}

.namehostelpop {
    padding-top: 5px;
    padding-left: 15px;
    font-size: 112%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nightpop {
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 35px;
}

.starspop {
    padding-left: 15px;
    font-size: 70%;
}

  /* Activity*/

.activitys {
    margin-top: 50px;
    margin-bottom: 50px;
}

.acticards {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acticards1 {
    width: 22%;
    height: 500px;
    
}

.acticards2 {
    width: 22%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.acticards3 {
    width: 22%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.acti1-4 {
    border-radius: 15px;
    box-shadow: 0 0 20px #0000002e;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.acti2 {
    width: 100%;
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px #0000002e;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgacti1-4 {
    width: 100%;
    height: 420px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.imgacti2 {
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.imgacti3 {
    width: 100%;
    height: 130px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.imgacti5 {
    width: 100%;
    height: 155px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.imgacti6 {
    width: 100%;
    height: 175px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.actititle {
    padding-left: 20px;
    font-size: 90%;
}
.acti1-4:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.acti2:hover {
    cursor: pointer;
    transform: scale(1.1);
}
  /*Footer*/
  
.footer {
    background-color: #f2f2f2;
    height: 300px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
  
.footerheight {
    height: 150px;
}
  
.footer1 {
    margin-left: 5%;
}
  
.footer3 {
    margin-right: 25%;
}

.decolinkfoot {
    text-decoration: none;
    color: black;
}

.decolinkfoot:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1255px) {
    
    #accomodations {
        flex-direction: column-reverse;
        width: 100%;
    }

    .popular {
        flex: none;
        width: 90%;
        margin-left: 0;
        padding: 5%;
        height: auto;
        border-radius: 0;
    }

    .accomodations {
        flex: none;
        width: 90%;
        margin-right: 0;
        margin-top: 50px;
        padding: 5%;
        border-radius: 0;
     }

}

@media screen and (max-width: 1040px) {

    .filtersection {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter {
        padding-right: 15px;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .acticards {
        flex-direction: column;
        height: auto;
    }

    .titleact {
        margin-bottom: 30px;
    }

    .acticards1, .acticards3 {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .acticards2 {
        width: 100%;
        height: auto;
    }

    .acti2 {
        margin-bottom: 30px;
    }

    .acti1-4, .acti2 {
        box-shadow: 0px 3px 20px  #0000002e;
    }

    .imgacti1-4, .imgacti2, .imgacti3, .imgacti5, .imgacti6 {
        height: 150px;
    }

@media screen and (max-width: 990px) {

    .footer {
        flex-direction: column;
        height: auto;
    }

    .footer1 {
        margin-bottom: 25px;
    }

    .footer2, .footer3 {
        margin-left: 5%;
    }
}

@media screen and (max-width: 770px) {
  
    .accomodations {
        height: auto;
        background-color: white;
        margin-top: 5px;
     }

    .lign1 {
        flex-direction: column;
        margin-bottom: 0;
    }

    .lign2 {
        flex-direction: column;
        margin-top: 0;
    }

    .windows {
        width: 100%;
        margin-bottom: 25px;
        box-shadow: 0 0 20px #0000002e;
    }

    .pop {
        margin-bottom: 15px;
    }

    .headpop {
        margin-top: 0;
    }

    .more {
        padding-top: 0;
        margin-top: 10px;
    }
}