/* Eléments principaux de la page */

body {
    font-family: 'Raleway', sans-serif;;
    margin: 0;
  }
  
  
  /* Navigation */
  
  header {
    width: 98%;
    max-width: 1440px;
    margin: auto;
  }
  
  nav
  {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 160%;
  }
  
  .logo{
      width: 120px;
      height: 50px;
  }
  
  .nav-list
  {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 25%;
      list-style-type: none;
      padding: 30px;
      font-weight: 550;
  }
  
  .nav-itemA
  {
      color: #0065fc;
      text-decoration: none;
      margin-left: 10px;
      border-top: 2px solid #0065fc;
      width: 120px;
  
      padding-top: 43px;
      padding-left: 25px;
      padding-right: 25px;
           
  }
  
  .nav-itemB
  {
      text-decoration: none;
      color: black; 
      padding-top: 43px;
      padding-left: 25px;
      padding-right: 25px;
      width: 100%;    
  }
  
  .nav-itemB:hover
  {
      color: #0065fc;
      border-top: 2px solid #0065fc;
  }
  
  .nav-itemC
  {
      color: #0065fc;
      font-weight: bold;
      text-decoration: none;
      padding-right: 25px;
      
  }
  